.root {
    min-height: 32px;
    padding: 0 1.4rem;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.6rem;
    min-width: 100px;
    &:hover {
        opacity: 0.3;
        cursor: pointer;
    }
}
.primary {
    background: var(--primary-color);
    box-shadow: rgb(204, 150, 0) 0px 0.25rem 0px;
}
.large {
    font-size: 2.4rem;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.filter-button {
    background: #fff;
    border: 1px solid var(--gray-color);
    padding: 12px 16px;
    font-weight: 600;
    margin: 0 8px 8px 0;
    border-radius: 22px;
    .title {
        margin: 0 8px;
    }
}
