.filter-button {
    background: #fff;
    border: 1px solid var(--gray-color);
    padding: 8px 16px;
}
.wrapper-poper {
    padding: 16px 24px;
    max-width: 720px;
    font-size: 1.2rem;
}
.left-header {
    font-weight: 600;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.icon {
    font-size: 1.2rem;
}
