.wrapper {
    height: 32px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 32px;
    margin: 12px 0;
}
.icon {
    font-size: 2.4rem;
    margin-left: 16px;
}
.large {
    font-size: 2.4rem;
}
.small {
    font-size: 1.4rem;
}
